/*
 *= require_self
 */

 .logo_span {
  position: absolute;
  left: 10px;
  /* top: 100px; */
  bottom: 155px;
  width: 30px;
  height: 10px;
}

.invalid-feedback {
  color: red;
}  

.bg_color {
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(138,222,223,1) 1%, rgba(255,255,255,0.2413340336134454) 100%);
}

.turq {
  color: #40E0D0;
}
    