<%= render "layouts/pages/partials/show/header" %>
<%= render "layouts/pages/partials/show/navbar2" %>  
<br><br><br><br><br><br>
<div class='container'>
<div class="panel panel-info">
  <div class="panel-heading">Terms and Conditions of Use</div>
    <div class="panel-body">
      <%= @app_setting.privacy.html_safe %> 
    </div>
  </div>
</div>
<br><br><br>
<%= render "layouts/pages/partials/show/footer" %>
  