<%= render "layouts/pages/partials/show/header" %>
<%= render "layouts/pages/partials/show/navbar2" %>  
<br><br><br><br><br><br>
<div class='container'>
<div class="panel panel-info">
  <div class="panel-heading">Terms of Use</div>
    <div class="panel-body">
      <%= raw(@app_setting.terms) %>
    </div>
  </div>
</div>
<br><br><br>
<%= render "layouts/pages/partials/show/footer" %>
  