<!-- beign #action-box -->
<div id="action-box" class="content has-bg" data-scrollview="true">
    <!-- begin content-bg -->
    <div class="content-bg">
      <img src="<%= asset_url "img/bg/bg-action.jpg" %>" alt="Action" />
    </div>
    <!-- end content-bg -->
    <!-- begin container -->
    <div class="container" data-animation="true" data-animation-type="fadeInRight">
      <!-- begin row -->
      <div class="row action-box">
        <!-- begin col-9 -->
        <div class="col-md-9 col-sm-9">
          <div class="icon-large text-theme">
            <i class="fa fa-truck"></i>
          </div>
          <h3><%= @page.action_box1 %></h3>
          <p> 
              
              <%= @page.action_box2 %>
          </p>
        </div>
        <!-- end col-9 -->
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-3">
        <%= link_to 'Apply Here', new_driver_application_path, class: "btn btn-outline btn-block" %>

        </div>
        <!-- end col-3 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end #action-box -->