<div class='container'>
<h1>Editing Driver Application</h1>

<%= render 'form', driver_application: @driver_application %>

<%= link_to 'Show', @driver_application %> |
<%= link_to 'Back', driver_applications_path %>
</div>