<div class='container'>
  <br>

  <div class="panel panel-default bg_color">
    <div class="panel-heading">New Driver Application</div>
    <div class="panel-body">
      <%= render 'form', driver_application: @driver_application %>
      <%= link_to 'Back', driver_applications_path %>
    </div>
  </div>
</div>